<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <div class="box">
        <div class="header-form">
            <img src="{% static 'img/agenda.png' %}" alt="">
            <h1>Login</h1>
        </div>
        <form action="/login/" method="post" style="padding: 15px; margin-bottom: 1rem;">{% csrf_token %}
            <label for="usuario">Usuário</label>
            <input type="text" name="usuario" placeholder="Digite seu usuário... ">
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha... ">
            <div class="submit">
                <input type="submit" value="Acessar">
                <input type="reset" value="limpar">
            </div>
        </form>
        {% for message in messages %}
            <span style="margin-top: 25%; border: 1px solid red; background-color: lightcoral; padding: 15px;">{{ message }}</span>
        {% endfor %}
    </div>
</body>
</html>