<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>Login</h1>
    <form action="/login/" method="post" style="padding: 15px; margin-bottom: 1rem;">{% csrf_token %}
        <label for="usuario">Usuário</label>
        <input type="text" name="usuario">
        <label for="senha">Senha</label>
        <input type="password" name="senha">
        <input type="submit" value="Acessar">
        <input type="reset" value="limpar">
    </form>
    {% for message in messages %}
        <span style="margin-top: 25%; border: 1px solid red; background-color: lightcoral; padding: 15px;">{{ message }}</span>
    {% endfor %}
</body>
</html>